{% import 'render_table_macros.html' as render_table_macros %}

<!DOCTYPE HTML>
<html>
  <head>
    <title>Самые высокие здания и сооружения</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h3>Список самых высоких зданий</h3>
    {{ render_table_macros.render_table(buildings_head, buildings_body) }}
    <br>
    <h3>Статистика типов зданий</h3>
    {{ render_table_macros.render_table(type_buildings_head, type_buildings_body) }}
    <br>
    <h3>Статистика высот зданий в каждой стране</h3>
    {{ render_table_macros.render_table(country_stats_head, country_stats_body) }}
    <br>
    <h3>Статистика по высоте зданий за каждый год</h3>
    {{ render_table_macros.render_table(building_year_stats_head, building_year_stats_body) }}
    <br>
    <h3>Статистика типов зданий, содержащих на "мачта"</h3>
    {{ render_table_macros.render_table(type_building_similar_head, type_building_similar_body) }}
    <br>
    <h3>Стастика высот зданий в странах, в которых более 1-го высотного здания</h3>
    {{ render_table_macros.render_table(city_multiple_buildings_stats_head, city_multiple_buildings_stats_body) }}
  </body>
</html>