{% import 'render_table_macros.html' as render_table_macros %}

<!DOCTYPE HTML>
<html>
  <head>
    <title>Полёты</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h3>Список пилотов, которые отлетали больше, чем {{ pilot_flights_number }} полётов</h3>
    {{ render_table_macros.render_table(pilots_flights_header, pilots_flights_body) }}
    <br>
    <h3>Список рейсов, летевших в тот же самый континет</h3>
    {{ render_table_macros.render_table(flights_same_continent_header, flights_same_continent_body) }}
    <br>
  </body>
</html>